api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/awt.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/extnet.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/java.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/jimage.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/jsvml.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/management_ext.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/management.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/net.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/msvcp140.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/nio.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/lib/modules
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/lib/jrt-fs.jar
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/server/jvm.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/zip.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/verify.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/vcruntime140.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/vcruntime140_1.dll
api-de-teste/banck-end/projeto/src/main/java/br/com/criandoapi/projeto/model/Oracle_JDK-22/bin/splashscreen.dll
