
# {
    margin: 0;
    padding: 0;
}

h1{
    margin: 40px 0 40px 0;
    
    color: aliceblue;
}
body {
    background-color:rgb(22,6,6);
}

.box, form,h1{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    padding: 0 15px 0 15px;
}

button{
    width: 150px;
    height: 25px;
    border-radius: 20px;
    color: black;
    background-color:rgb(126, 182, 196) ;
}
